<body>
  
    <div id="mainDiv">
        
        <div id="formDiv">
            <h2>Create your Account</h2><br><br>
            <div>
              <p >User Name</p>
              <input [(ngModel)]="userName" placeholder="Full Name" type="email"><br>
    <p >Email</p>
    <input [(ngModel)]="email" placeholder="Email" type="email"><br>
    <p >Password</p>
    <input placeholder="Password" [(ngModel)]="password" type="password"><br>
    <p >Mobile</p>
    <input placeholder="Mobile Number" [(ngModel)]="mobile" type="number"><br>

    <p id="error">{{error}}</p><br>
    <button (click)="register()" >Register</button></div> <br>
    <p id="dont">Have any Account? <span routerLink="login">Login here</span></p><br>
        </div>
       
    </div>

    <div *ngIf="veryfi"  class="modal" id="myModal">
        <div class="modal-content">
          <span (click)="sub()" class="close" id="closePopupBtn">&times;</span>
          <h4>Enter 4-Digit Code</h4>
          
            <input type="text" [(ngModel)]="newOTP" id="codeInput" pattern="[0-9]{4}" maxlength="4" placeholder="Enter code" required>
            <button (click)="sub()" >Submit</button>
          
        </div>
      </div>

    </body>