/* Basic styling for the chat container */
.chat-container {
    max-width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 19px;
  }
  *{
    padding: 0;
    margin: 0;
  }
  body{
    top: 0;
    background-color: #a1a1a1;
    height: 92vh;
  }
  .user p{
margin-bottom: 3px;
  }
  
  .user.sender{
    background-color: rgb(196, 193, 193);
    border-radius: 15px;
    padding: 10px 15px;
    margin-left: auto; /* Set left margin to auto for centering if needed */
    margin-right: 20px; /* Set right margin to create space from the container's right edge */
    margin-bottom: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    max-width: 70%;
    min-width: 50px;
    word-wrap: break-word;
    float: right; 
     }
  .user{
    background-color: #DCF8C6;
    border-radius: 15px;
    padding: 10px 15px;
    margin-left: 20px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    max-width: 70%; 
    min-width: 50px; 
    word-wrap: break-word;
  }
  #img p{
    padding-left: 10px;
  }
  #img{
   display: flex; margin-bottom: 3px;
  }
  #img.sender-img img{
display: none;
  }
  #img.sender-img p{

    margin-left: auto; 
    margin-right: 20px; 
    display: none;
    max-width: 70%;
    min-width: 50px;
    word-wrap: break-word;
    float: right; 
  }
  #img img{
    width: 15px;
    height: 15px;
  }
  #title2{
    margin-left: 9px;
  }
  #title{
    text-align: center;
    margin-bottom: 0px;
  }
  /* Styling for the chat messages display area */
  .chat-messages > :first-child{
margin-top: auto;
  }
  
  .chat-messages {
   display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 530px;
    max-height: 530px;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  
  /* Styling for the input field and button */
  .chat-input {
    display: flex;
    align-items: center;
  }
  
  .chat-input input[type="text"] {
    flex: 1;
    padding: 8px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .chat-input button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #22aacc;
    color: white;
    cursor: pointer;
  }
  #delete p{
     float: left;
  }
  #delete button:hover{
    background-color: rgb(244, 112, 112);
  }
  #delete button{
    float: right;
    margin-bottom:5px;
    margin-right:10px;
    padding: 5px 10px 5px 10px;
    border-radius: 9px;border: none;
    color: white;background-color: red;
 }
  #delete{
    overflow: hidden;
  }