<body>

    <div class="chat-container">
        <h3 id="title"><u>{{title}}</u></h3>
        <div id="delete"> <p id="title2"><b>Created By:</b> {{name}}</p><button (click)="deleteC()" *ngIf="delete">Delete</button></div>
       
      <div  class="chat-messages" id="chat-messages">
        <ng-container> 

<div  *ngFor="let item of chat" >
          <div id="img"  [ngClass]="{'sender-img':item.user.userId == loginUserId}">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTo-CujXEB_pHNjg6VnEKrUJW-sgY-6glbQhw&usqp=CAU" alt="">
          <p>{{item.user.name}}</p> </div>
<div class="user" [ngClass]="{'sender':item.user.userId == loginUserId}">
            <p>{{item.message}}</p>
          </div>
          </div>

        </ng-container>
        
      </div>

      <div class="chat-input">
        <input [(ngModel)]="message" type="text" id="user-message" placeholder="Type your message...">
        <button (click)="send()">Send</button>
      </div>
    </div>
    </body>