<body>

    <div id="mainDiv">
        
        <div id="formDiv">
            <h2>Let's Login to your Account First</h2><br><br>
            <div>
    <p >Email</p>
    <input placeholder=" Email" [(ngModel)]="email" type="email" ><br>
    <p >Password</p>
    <input placeholder="Password" [(ngModel)]="password" type="password" ><br>
    <p id="error">{{error}}</p><br>
    
    <button (click)="Login()">Login</button></div> <br>
    <p id="dont">Don't have an Account? <span routerLink="signup">Register here</span> </p><br>
        </div>
       
    </div>
        
    </body>