<body><br>
    <div *ngIf="!showInputAndButton" id="createR"> <button (click)="createDiscussion()"> + Create Discussion</button></div> <br>

    <div *ngIf="showInputAndButton" class="discussion-container">
        <h4>Enter Discussion Title</h4>
        <input placeholder="Title"  [(ngModel)]="title" type="text" id="discussionTitle">
        <button (click)="submit()">Create</button>
      </div>
      <br><br>

    <div *ngFor="let item of discussion" >
        <!-- <h4 id="DC"> Discussion creted By {{item.user.name}}</h4> -->
        <div id="dic">
<h3>{{item.title}}</h3> <button [routerLink]="['chat', item.discussionsId,item.title,item.user.name,item.user.userId]">Open</button>
</div>
    </div>
    
</body>
