/* Basic styling */
@import "~@fortawesome/fontawesome-free/css/all.css";
*{
    margin: 0;
    padding: 0;
}
body{
  display: flex;
    top: 0;
    height: 92vh;
    /* background-color:  #58909b; */
    background: linear-gradient( #ff6978, #2f03a7); 

}
.user-profile {
    align-items: center;
    width: 600px;
    height:53vh;
    margin: 0 auto;background-color: white;
    border-radius: 5px;border: 1px solid #ccc;
  }
  
  .profile-info {
    display: flex;
    align-items: center;border: 1px solid #cccccc;
    padding: 20px;border-radius: 5px;
  }
 
  #userP div{
    padding: 20px;
    display: flex;
  justify-content: space-between;
  align-items: center;
  top: 20px; 
  right: 20px; 
  width: calc(100% - 80px); 
padding-left: 50px;
  }
  #logout{
    float:right;
  }
  .logout-button{
    padding: 8px 20px;
    margin: 0 5px;
    border: none;
    margin-right: 30px;
    border-radius: 5px;
    background-color: rgb(16, 87, 163);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .user-image img {
    margin-right: 70px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .user-details {
    margin-left: 20px;
  }
  
  .username {
    margin-top: 0;
    font-size: 1.5em;
  }
  
  .user-details p {
    margin: 5px 0;
  }
  .profile-actions {
    margin-top: 10px;
  }

  .edit-button{
    padding: 8px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 3px;
    background-color: rgb(16, 87, 163);
    color: #fff;
    cursor: pointer;
    transition: background-color 1s ease;
  }
  .edit-button:hover,
  .logout-button:hover {
    background-color: #a3b0bf;
  }

  #lists1{
  
    width: 55%;
     display: grid;
    grid-template-columns: repeat(3,250px);    
    gap: 14px;
    background-color: white;
    padding-top: 10px;
    padding-left: 20px;
  }
  #lists{
    height: 42vh;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
     border-radius: 9px;
  }
  #lists img{
    width: 180px;
    height: 180px;
    display: block;
    margin: auto;
  }
  .tiem{
    height: 80px;
    padding-left: 10px;
  }
  #lists button:hover{
    background-color: rgb(237, 135, 135);
  }
 #lists button {
  font-size: x-small;
    display: block;
    margin: 10px auto;
    padding: 8px;border: none;border-radius: 5px;background-color: red;color: white;
  }
  @media screen and (max-width: 750px) {
    .user-profile {
      align-items: center;
      width: 80%;
      height:53vh;
      margin: 0 auto;background-color: white;
      border-radius: 5px;border: 1px solid #ccc;
    }
    .user-image img {
      margin-right: 30px;
      width: 120px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    body{
      display: flex;
      flex-direction: column;
    }
    #lists1{
      width:95%;
       display: grid;
      grid-template-columns: repeat(3,30%);    
      gap: 14px;
      background-color: white;
      padding-top: 10px;
      margin-left: 7px;
    }
    #lists{
      height:22%;
    }
    #lists img{
width: 100px;
height: 100px;
    }
    .tiem h4{
font-size: small;
    }
    .tiem p{
      font-size: small;
    }
  }

  @media screen and (max-width: 550px) {
    .user-profile {
      align-items: center;
      width: 80%;
      height:53vh;
      margin: 0 auto;background-color: white;
      border-radius: 5px;border: 1px solid #ccc;
    }
    .user-image img {
      margin-right: 10px;
      width: 90px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .user-details {
      margin-left: 10px;
    }
    .username {
      margin-top: 0;
      font-size: large;
    }
    .email{
      font-size: small;
    }
    .mobile{
      font-size: small;
    }
    
  }